body{
    margin: 0;
    padding: 0;

    background-image: url("website-wallpaper.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar{
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    top: 0;
    background-color: #333;
}
.navbar ul{
    list-style-type: none;

    float: right;

    margin: 0;
    padding: 0;
    background-color: #333;
}

.navbar li{
    align-items:flex-end;
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.navbar li a.active {
    background-color: #04AA6D;
    color: white;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
    color: white;
}


.home{
    padding: 150px 50px 50px 100px;
    margin-left: auto;
    background-color: rgba(120, 120, 120, 0.695);
    text-align: center;
}


.about{
    padding: 150px 50px 50px 80px;
    margin-left: auto;
    background-color: rgba(120, 120, 120, 0.695);
    text-align: center;
}

/*
#projects{
    background-color: rgba(120, 120, 120, 0.695);
    text-align: center;
}

#about{
    background-color: rgba(120, 120, 120, 0.695);
    text-align: center;
}

#contact{
    background-color: rgba(120, 120, 120, 0.695);
    text-align: center;
}


Old, but i didnt want to get rid of
nav{
    margin-left: 0%;
    margin-top: 0;
    border-style: none;
    background-color: rgba(120, 120, 120, 0.695);
}
*/