body{
    margin: 0;
    padding: 0;

    background-image: url("website-wallpaper.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;

    position: fixed;
    width: 25%;
    height: 100%;
    overflow: auto;

    top: 0;
}

.navbar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.navbar li a.active {
    background-color: #04AA6D;
    color: white;
}

.navbar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


.home{
    margin-left: 25%;
    background-color: rgba(120, 120, 120, 0.695);
    text-align: center;
}

/*
#projects{
    background-color: rgba(120, 120, 120, 0.695);
    text-align: center;
}

#about{
    background-color: rgba(120, 120, 120, 0.695);
    text-align: center;
}

#contact{
    background-color: rgba(120, 120, 120, 0.695);
    text-align: center;
}


Old, but i didnt want to get rid of
nav{
    margin-left: 0%;
    margin-top: 0;
    border-style: none;
    background-color: rgba(120, 120, 120, 0.695);
}
*/